<!-- receives allRooms[i] -->
<div class="container" style="margin-top: 10%;">
    <h1 class="h1 text-center">
        <mark><span id="leader-name" class=""><%=room.members[room.leaderIndex].username %></span></mark>
        has proposed the following players:
    </h1>
    <div class="container" style="width: fit-content; margin-top: 5%;">
        <ul class="list-group text-center">
            <%for (var i = 0; i < room.members.length; i++){ %>
                <% if (room.members[i].proposed == 'true') { %>
                    <li class="list-group-item text-primary"><%= room.members[i].username %></li>
                <% } %>
            <%}%>
        </ul>
    </div>
    <div class="container text-center" style="margin-top: 5%;">
        <button type="button" id="acceptButton" class="btn btn-success btn-lg">Accept</button>
        <button type="button" id="declineButton" class="btn btn-danger btn-lg">Decline</button>
        <script>
            $("#acceptButton").on("click", function(){
                console.log("CLicked");
                socket.emit("acceptDecline", ({isAccepted: true}));
                document.getElementById("acceptButton").disabled = true;
                document.getElementById("declineButton").disabled = true;
            })
            $("#declineButton").on("click", function(){
                socket.emit("acceptDecline", ({isAccepted: false}));
                document.getElementById("acceptButton").disabled = true;
                document.getElementById("declineButton").disabled = true;
            })
        </script>
    </div>
</div>
    