<div class = "container" id = "room_members_list">
    <h2 class="h2">Room Members:</h2>
    <ul id = "room_members_ul" class="container list-group" style="margin-top: 10%;"  >
        <% for(var i = 0; i < members.length; i++){ %>
            <li class="list-group-item"> <%= members[i].username %></li>
        <% }%>
    </ul>
</div>